-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: tiffintrack
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `audit_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `user_role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `old_values` json DEFAULT NULL,
  `new_values` json DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `ip_address` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`audit_id`),
  KEY `fk_audit_user` (`user_id`),
  KEY `idx_audit_created_role` (`created_at`,`user_role`),
  CONSTRAINT `fk_audit_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=250 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `complaint_trend`
--

DROP TABLE IF EXISTS `complaint_trend`;
/*!50001 DROP VIEW IF EXISTS `complaint_trend`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `complaint_trend` AS SELECT 
 1 AS `vendor_id`,
 1 AS `vendor_name`,
 1 AS `locality`,
 1 AS `current_overall_rating`,
 1 AS `total_complaints`,
 1 AS `pending_complaints`,
 1 AS `total_ratings`,
 1 AS `avg_rating`,
 1 AS `concern_level`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `complaints`
--

DROP TABLE IF EXISTS `complaints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `complaints` (
  `complaint_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `delivery_id` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `issue_type` enum('late_delivery','food_quality','wrong_items','packaging_issue','behavior','other') COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('open','in_review','resolved','rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'open',
  `resolution_notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `resolved_date` datetime DEFAULT NULL,
  PRIMARY KEY (`complaint_id`),
  KEY `fk_comp_cust` (`customer_id`),
  KEY `fk_comp_deliv` (`delivery_id`),
  KEY `idx_complaints_vendor_status` (`vendor_id`,`status`),
  CONSTRAINT `fk_comp_cust` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_comp_deliv` FOREIGN KEY (`delivery_id`) REFERENCES `deliveries` (`delivery_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_comp_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `complaints`
--

LOCK TABLES `complaints` WRITE;
/*!40000 ALTER TABLE `complaints` DISABLE KEYS */;
/*!40000 ALTER TABLE `complaints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `customer_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` int NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pg_or_flat_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `locality` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `room_no` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dietary_pref` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'veg',
  `wallet_balance` decimal(10,2) NOT NULL DEFAULT '1000.00',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`customer_id`),
  UNIQUE KEY `user_id` (`user_id`),
  UNIQUE KEY `email` (`email`),
  CONSTRAINT `fk_customers_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_menus`
--

DROP TABLE IF EXISTS `daily_menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_menus` (
  `menu_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date` date NOT NULL,
  `meal_type` enum('lunch','dinner','both') COLLATE utf8mb4_unicode_ci NOT NULL,
  `items` json NOT NULL,
  `published` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`menu_id`),
  KEY `fk_menus_vendor` (`vendor_id`),
  CONSTRAINT `fk_menus_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_menus`
--

LOCK TABLES `daily_menus` WRITE;
/*!40000 ALTER TABLE `daily_menus` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deliveries`
--

DROP TABLE IF EXISTS `deliveries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deliveries` (
  `delivery_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subscription_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `agent_id` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date` date NOT NULL,
  `meal_type` enum('lunch','dinner') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('prepared','dispatched','delivered','skipped','cancelled') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'prepared',
  `delivered_time` datetime DEFAULT NULL,
  `notes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`delivery_id`),
  KEY `idx_deliveries_sub_date` (`subscription_id`,`date`),
  KEY `idx_deliveries_agent_date_status` (`agent_id`,`date`,`status`),
  CONSTRAINT `fk_deliv_agent` FOREIGN KEY (`agent_id`) REFERENCES `delivery_agents` (`agent_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_deliv_sub` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`sub_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deliveries`
--

LOCK TABLES `deliveries` WRITE;
/*!40000 ALTER TABLE `deliveries` DISABLE KEYS */;
/*!40000 ALTER TABLE `deliveries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delivery_agents`
--

DROP TABLE IF EXISTS `delivery_agents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery_agents` (
  `agent_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` int NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `assigned_locality` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vehicle_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'bike',
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`agent_id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `fk_agents_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery_agents`
--

LOCK TABLES `delivery_agents` WRITE;
/*!40000 ALTER TABLE `delivery_agents` DISABLE KEYS */;
INSERT INTO `delivery_agents` VALUES ('A001',7,'Amit Kumar','+91 98260 11223','MP Nagar','Electric Scooter','active','2026-09-15 20:35:39'),('A002',8,'Suresh Patel','+91 98260 11224','Indrapuri','Motorcycle','active','2026-09-15 20:35:39'),('A003',9,'Vikram Sharma','+91 98260 11225','Ayodhya Bypass','Bicycle','active','2026-09-15 20:35:39');
/*!40000 ALTER TABLE `delivery_agents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group_subscriptions`
--

DROP TABLE IF EXISTS `group_subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `group_subscriptions` (
  `group_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `residence_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `locality` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `member_count` int NOT NULL DEFAULT '1',
  `discount_applied` tinyint(1) NOT NULL DEFAULT '0',
  `discount_percent` decimal(4,2) NOT NULL DEFAULT '0.00',
  `formed_date` date NOT NULL,
  `last_updated` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`group_id`),
  UNIQUE KEY `uq_group_residence_vendor` (`residence_name`,`locality`,`vendor_id`),
  KEY `fk_group_vendor` (`vendor_id`),
  KEY `idx_group_residence_loc` (`residence_name`,`locality`),
  CONSTRAINT `fk_group_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group_subscriptions`
--

LOCK TABLES `group_subscriptions` WRITE;
/*!40000 ALTER TABLE `group_subscriptions` DISABLE KEYS */;
INSERT INTO `group_subscriptions` VALUES ('G001','Sunrise Boys PG','MP Nagar','V001',6,1,10.00,'2026-09-05','2026-09-15 20:35:39'),('G002','Girls PG Enclave','Indrapuri','V002',4,1,5.00,'2026-08-31','2026-09-15 20:35:39'),('GRP003','Room 304 Squad','Campus Area','V001',12,1,10.00,'2026-09-15','2026-09-16 01:38:40'),('GRP004','Hostel Block A','Campus Area','V001',13,1,10.00,'2026-09-15','2026-09-16 00:31:29');
/*!40000 ALTER TABLE `group_subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meal_plans`
--

DROP TABLE IF EXISTS `meal_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `meal_plans` (
  `plan_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `plan_type` enum('daily','weekly','monthly') COLLATE utf8mb4_unicode_ci NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `meals_included` int NOT NULL,
  `veg_or_nonveg` enum('veg','nonveg','both') COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`plan_id`),
  KEY `fk_plans_vendor` (`vendor_id`),
  CONSTRAINT `fk_plans_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meal_plans`
--

LOCK TABLES `meal_plans` WRITE;
/*!40000 ALTER TABLE `meal_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `meal_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_votes`
--

DROP TABLE IF EXISTS `menu_votes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menu_votes` (
  `vote_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `menu_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vote_date` date NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`vote_id`),
  UNIQUE KEY `uq_customer_menu_vote` (`customer_id`,`menu_id`,`vote_date`),
  KEY `fk_vote_menu` (`menu_id`),
  CONSTRAINT `fk_vote_cust` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_vote_menu` FOREIGN KEY (`menu_id`) REFERENCES `daily_menus` (`menu_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_votes`
--

LOCK TABLES `menu_votes` WRITE;
/*!40000 ALTER TABLE `menu_votes` DISABLE KEYS */;
INSERT INTO `menu_votes` VALUES ('VOTE001','C001','M001','Hyderabadi Veg Biryani with Mirchi ka Salan','2026-09-15','2026-09-15 20:55:03');
/*!40000 ALTER TABLE `menu_votes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `payment_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subscription_id` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `mode` enum('wallet','upi','cash_on_delivery','netbanking') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'wallet',
  `status` enum('success','refunded','failed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'success',
  PRIMARY KEY (`payment_id`),
  KEY `fk_pay_cust` (`customer_id`),
  KEY `fk_pay_sub` (`subscription_id`),
  CONSTRAINT `fk_pay_cust` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_pay_sub` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`sub_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES ('PAY001','C001','S001',2400.00,'2026-09-05 00:00:00','wallet','success'),('PAY002','C002','S002',2200.00,'2026-08-31 00:00:00','upi','success'),('PAY003','C003','S003',2400.00,'2026-09-10 00:00:00','wallet','success'),('PAY004','C004','S004',3200.00,'2026-09-07 00:00:00','upi','success'),('PAY005','C005','S005',2400.00,'2026-09-03 00:00:00','wallet','success'),('PAY006','C001','S020',3200.00,'2026-09-15 21:15:16','upi','success');
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ratings`
--

DROP TABLE IF EXISTS `ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ratings` (
  `rating_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subscription_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `delivery_id` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `taste_score` tinyint NOT NULL,
  `hygiene_score` tinyint NOT NULL,
  `punctuality_score` tinyint NOT NULL,
  `value_score` tinyint NOT NULL,
  `weighted_score` decimal(3,2) NOT NULL,
  `review_text` text COLLATE utf8mb4_unicode_ci,
  `status` enum('active','hidden') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `date` date NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`rating_id`),
  KEY `fk_rate_cust` (`customer_id`),
  KEY `fk_rate_vendor` (`vendor_id`),
  KEY `fk_rate_sub` (`subscription_id`),
  KEY `fk_rate_deliv` (`delivery_id`),
  CONSTRAINT `fk_rate_cust` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_rate_deliv` FOREIGN KEY (`delivery_id`) REFERENCES `deliveries` (`delivery_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_rate_sub` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`sub_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_rate_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE RESTRICT,
  CONSTRAINT `ratings_chk_1` CHECK ((`taste_score` between 1 and 5)),
  CONSTRAINT `ratings_chk_2` CHECK ((`hygiene_score` between 1 and 5)),
  CONSTRAINT `ratings_chk_3` CHECK ((`punctuality_score` between 1 and 5)),
  CONSTRAINT `ratings_chk_4` CHECK ((`value_score` between 1 and 5))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ratings`
--

LOCK TABLES `ratings` WRITE;
/*!40000 ALTER TABLE `ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `ratings` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_rating_insert` AFTER INSERT ON `ratings` FOR EACH ROW BEGIN
    DECLARE new_avg DECIMAL(3,2);
    
    SELECT COALESCE(ROUND(AVG(weighted_score), 2), 0.00)
    INTO new_avg
    FROM ratings
    WHERE vendor_id = NEW.vendor_id AND status = 'active';
    
    UPDATE vendors
    SET avg_rating = new_avg
    WHERE vendor_id = NEW.vendor_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_rating_update` AFTER UPDATE ON `ratings` FOR EACH ROW BEGIN
    DECLARE new_avg DECIMAL(3,2);
    
    SELECT COALESCE(ROUND(AVG(weighted_score), 2), 0.00)
    INTO new_avg
    FROM ratings
    WHERE vendor_id = NEW.vendor_id AND status = 'active';
    
    UPDATE vendors
    SET avg_rating = new_avg
    WHERE vendor_id = NEW.vendor_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_rating_delete` AFTER DELETE ON `ratings` FOR EACH ROW BEGIN
    DECLARE new_avg DECIMAL(3,2);
    
    SELECT COALESCE(ROUND(AVG(weighted_score), 2), 0.00)
    INTO new_avg
    FROM ratings
    WHERE vendor_id = OLD.vendor_id AND status = 'active';
    
    UPDATE vendors
    SET avg_rating = new_avg
    WHERE vendor_id = OLD.vendor_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `session_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token_hash` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `last_used_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`session_id`),
  UNIQUE KEY `token_hash` (`token_hash`),
  KEY `fk_sessions_user` (`user_id`),
  CONSTRAINT `fk_sessions_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skip_requests`
--

DROP TABLE IF EXISTS `skip_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skip_requests` (
  `skip_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subscription_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date` date NOT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `refund_amount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `refund_credited` tinyint(1) NOT NULL DEFAULT '0',
  `applied_to_next_bill` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`skip_id`),
  KEY `fk_skip_sub` (`subscription_id`),
  KEY `fk_skip_cust` (`customer_id`),
  CONSTRAINT `fk_skip_cust` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_skip_sub` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`sub_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skip_requests`
--

LOCK TABLES `skip_requests` WRITE;
/*!40000 ALTER TABLE `skip_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `skip_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions`
--

DROP TABLE IF EXISTS `subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions` (
  `sub_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `plan_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` enum('active','cancelled','expired','paused') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `auto_renew` tinyint(1) NOT NULL DEFAULT '0',
  `switched_from_sub_id` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`sub_id`),
  KEY `fk_subs_plan` (`plan_id`),
  KEY `fk_subs_switched` (`switched_from_sub_id`),
  KEY `idx_subscriptions_customer_status` (`customer_id`,`status`),
  KEY `idx_subscriptions_vendor_status` (`vendor_id`,`status`),
  CONSTRAINT `fk_subs_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_subs_plan` FOREIGN KEY (`plan_id`) REFERENCES `meal_plans` (`plan_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_subs_switched` FOREIGN KEY (`switched_from_sub_id`) REFERENCES `subscriptions` (`sub_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_subs_vendor` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions`
--

LOCK TABLES `subscriptions` WRITE;
/*!40000 ALTER TABLE `subscriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `top_rated_vendors`
--

DROP TABLE IF EXISTS `top_rated_vendors`;
/*!50001 DROP VIEW IF EXISTS `top_rated_vendors`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `top_rated_vendors` AS SELECT 
 1 AS `vendor_id`,
 1 AS `vendor_name`,
 1 AS `locality`,
 1 AS `cuisine_type`,
 1 AS `total_reviews`,
 1 AS `avg_taste`,
 1 AS `avg_hygiene`,
 1 AS `avg_punctuality`,
 1 AS `avg_value`,
 1 AS `calculated_rating`,
 1 AS `stored_avg_rating`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('customer','vendor','delivery_agent','admin') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('active','inactive','suspended') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `last_login_at` datetime DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_role_status` (`role`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vendor_performance_summary`
--

DROP TABLE IF EXISTS `vendor_performance_summary`;
/*!50001 DROP VIEW IF EXISTS `vendor_performance_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vendor_performance_summary` AS SELECT 
 1 AS `vendor_id`,
 1 AS `vendor_name`,
 1 AS `locality`,
 1 AS `status`,
 1 AS `active_subscribers`,
 1 AS `total_subscribers_all_time`,
 1 AS `total_revenue`,
 1 AS `pending_deliveries_today`,
 1 AS `delivered_today`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `vendor_switch_logs`
--

DROP TABLE IF EXISTS `vendor_switch_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_switch_logs` (
  `switch_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `old_vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `new_vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `old_sub_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `new_sub_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `switch_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`switch_id`),
  KEY `fk_switch_cust` (`customer_id`),
  KEY `fk_switch_oldv` (`old_vendor_id`),
  KEY `fk_switch_newv` (`new_vendor_id`),
  KEY `fk_switch_olds` (`old_sub_id`),
  KEY `fk_switch_news` (`new_sub_id`),
  CONSTRAINT `fk_switch_cust` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_switch_news` FOREIGN KEY (`new_sub_id`) REFERENCES `subscriptions` (`sub_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_switch_newv` FOREIGN KEY (`new_vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_switch_olds` FOREIGN KEY (`old_sub_id`) REFERENCES `subscriptions` (`sub_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_switch_oldv` FOREIGN KEY (`old_vendor_id`) REFERENCES `vendors` (`vendor_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_switch_logs`
--

LOCK TABLES `vendor_switch_logs` WRITE;
/*!40000 ALTER TABLE `vendor_switch_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_switch_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendors`
--

DROP TABLE IF EXISTS `vendors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendors` (
  `vendor_id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` int NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kitchen_address` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `locality` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `license_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cuisine_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `avg_rating` decimal(3,2) NOT NULL DEFAULT '0.00',
  `status` enum('active','inactive','suspended') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`vendor_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `idx_vendors_locality_rating` (`locality`,`avg_rating`),
  CONSTRAINT `fk_vendors_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendors`
--

LOCK TABLES `vendors` WRITE;
/*!40000 ALTER TABLE `vendors` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `complaint_trend`
--

/*!50001 DROP VIEW IF EXISTS `complaint_trend`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `complaint_trend` AS select `v`.`vendor_id` AS `vendor_id`,`v`.`name` AS `vendor_name`,`v`.`locality` AS `locality`,`v`.`avg_rating` AS `current_overall_rating`,count(distinct `c`.`complaint_id`) AS `total_complaints`,sum((case when (`c`.`status` = 'open') then 1 else 0 end)) AS `pending_complaints`,count(distinct `r`.`rating_id`) AS `total_ratings`,round(avg(`r`.`weighted_score`),2) AS `avg_rating`,(case when ((count(distinct `c`.`complaint_id`) >= 3) and (avg(`r`.`weighted_score`) < 3.5)) then 'CRITICAL' when ((count(distinct `c`.`complaint_id`) >= 2) or (avg(`r`.`weighted_score`) < 4.0)) then 'WARNING' else 'STABLE' end) AS `concern_level` from ((`vendors` `v` left join `complaints` `c` on((`v`.`vendor_id` = `c`.`vendor_id`))) left join `ratings` `r` on(((`v`.`vendor_id` = `r`.`vendor_id`) and (`r`.`status` = 'active')))) group by `v`.`vendor_id`,`v`.`name`,`v`.`locality`,`v`.`avg_rating` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `top_rated_vendors`
--

/*!50001 DROP VIEW IF EXISTS `top_rated_vendors`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `top_rated_vendors` AS select `v`.`vendor_id` AS `vendor_id`,`v`.`name` AS `vendor_name`,`v`.`locality` AS `locality`,`v`.`cuisine_type` AS `cuisine_type`,count(`r`.`rating_id`) AS `total_reviews`,round(avg(`r`.`taste_score`),1) AS `avg_taste`,round(avg(`r`.`hygiene_score`),1) AS `avg_hygiene`,round(avg(`r`.`punctuality_score`),1) AS `avg_punctuality`,round(avg(`r`.`value_score`),1) AS `avg_value`,round(avg(`r`.`weighted_score`),2) AS `calculated_rating`,`v`.`avg_rating` AS `stored_avg_rating` from (`vendors` `v` left join `ratings` `r` on(((`v`.`vendor_id` = `r`.`vendor_id`) and (`r`.`status` = 'active')))) where (`v`.`status` = 'active') group by `v`.`vendor_id`,`v`.`name`,`v`.`locality`,`v`.`cuisine_type`,`v`.`avg_rating` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vendor_performance_summary`
--

/*!50001 DROP VIEW IF EXISTS `vendor_performance_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vendor_performance_summary` AS select `v`.`vendor_id` AS `vendor_id`,`v`.`name` AS `vendor_name`,`v`.`locality` AS `locality`,`v`.`status` AS `status`,count(distinct (case when (`s`.`status` = 'active') then `s`.`sub_id` end)) AS `active_subscribers`,count(distinct `s`.`sub_id`) AS `total_subscribers_all_time`,coalesce(sum(`p`.`amount`),0.00) AS `total_revenue`,count(distinct (case when ((`d`.`status` = 'pending') and (`d`.`date` = curdate())) then `d`.`delivery_id` end)) AS `pending_deliveries_today`,count(distinct (case when ((`d`.`status` = 'delivered') and (`d`.`date` = curdate())) then `d`.`delivery_id` end)) AS `delivered_today` from (((`vendors` `v` left join `subscriptions` `s` on((`v`.`vendor_id` = `s`.`vendor_id`))) left join `payments` `p` on(((`s`.`sub_id` = `p`.`subscription_id`) and (`p`.`status` = 'success')))) left join `deliveries` `d` on((`s`.`sub_id` = `d`.`subscription_id`))) group by `v`.`vendor_id`,`v`.`name`,`v`.`locality`,`v`.`status` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-16 14:46:43
